[Unit]
Description=Trigger Server
After=snapd.service snapd.socket
Wants=snapd.socket

[Service]
Type=simple
User=consumer
Group=consumer
Environment=CONSUMER_NAME=consumer-ubuntu
ExecStartPre=/bin/sleep 3
ExecStart=/home/consumer/entrypoint.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
