[Unit]
Description=Firefox Credential Server
After=local-fs.target

[Service]
Type=simple
LoadCredentialEncrypted=sync-key:/etc/firefox/sync.cred
ExecStart=/usr/lib/firefox/firefox-credential-server
RuntimeDirectory=firefox-credential-server
RuntimeDirectoryMode=0755

# Hardening
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
MemoryDenyWriteExecute=yes
LockPersonality=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
RestrictNamespaces=yes
RestrictAddressFamilies=AF_UNIX
SystemCallFilter=@system-service
SystemCallArchitectures=native
LimitNOFILE=64

[Install]
WantedBy=multi-user.target
