[Unit]
Description=Access Keys Monitor
After=network.target dbus.socket

[Service]
Type=simple
User=consumer
Group=consumer
Environment=CONSUMER_NAME=consumer-redhat
ExecStart=/usr/bin/python3 /home/consumer/server.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
